[submodule "pointcloud_saver"]
	path = pointcloud_saver
	url = https://github.com/H017/pointcloud_saver.git
[submodule "wall_scanner"]
	path = wall_scanner
	url = https://github.com/H017/wall_scanner.git
[submodule "lm_pantilt"]
	path = lm_pantilt
	url = https://github.com/H017/lm_pantilt.git
[submodule "mapping_tools"]
	path = mapping_tools
	url = https://github.com/H017/mapping_tools.git
